* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 0.5rem;
  overflow: hidden;
}
.header,
#show-more {
  text-align: center;
  padding: 1rem 0;
}
.header-text {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

#search-image {
  width: 50%;
  padding: 4px 2px;
  border: 1px solid #dbd8d87e;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  outline: none; 
}
#search-image:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(125, 190, 255, 0.5);
}
#button {
  margin-left: -5px;
  padding: 4px;
  background: #cf1c1c;
  border: 1px solid #cf1c1c;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: antiquewhite;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}
.search-image {
  padding: 1rem;
}
.single-image {
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.single-image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 5px;
  transition: opacity 0.2s ease-in-out;
}
.single-image:hover img {
  opacity: 0.8;
}
.single-image a {
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: #09488f;
  display: block;
  padding: 5px;
  transition: all;
  transition-duration: 500ms;
}
.single-image a:hover {
  text-decoration: underline;
}
#show-more button {
  padding: .9rem 1.5rem;
  text-transform: uppercase;
  transition: opacity 0.2s ease-in-out;
  background: #f33131;
  border: 1px solid #ce0b0b;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#show-more button:hover {
  opacity: 0.8;
  color: #080808;
}

/* responsive layout */
/* for xs device */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}
/* for sm device */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
  .search-image {
    display: grid;
    gap: 1rem;
    grid-template-columns: auto auto;
    align-items: start;
  }
  .single-image {
    margin-bottom: 0;
  }
}
/* for md device */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .header-text {
    font-size: 2rem;
  }
  #search-image {
    padding: 10px;
  }
  #button {
    margin-left: -5px;
    padding: 8px;
  }
  .search-image {
    grid-template-columns: auto auto auto;
  }
  .header {
    padding: 2rem 0;
  }
}
/* for lg device */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
  .search-image {
    grid-template-columns: auto auto auto auto;
  }
  #search-image {
    width: 30%;
  }
  #search-image {
    padding: 12px;
  }
  #button {
    padding: 12px;
  }
}
/* for xl device */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
/* for 2xl device */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
