*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 0.5rem;
    text-align: center;
  }
  .header-text{
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 3rem 1rem .5rem; 
}
  
  #search-image{
    width: 50%;
    padding: 4px 2px;
    border: 1px solid #5a59597e;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  #search-image:focus{
    outline: none;
  }
  #button{
    margin-left: -5px;
    padding: 4px;
    background: #f33131;
    border: 1px solid #a00b0b;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: antiquewhite;
  }
  .search-image {
    padding: 1rem ;
  }
  .single-image{
    border: 1px solid #979494;
    border-radius: 5px;
    margin-bottom: 1rem;
  }
  .single-image img{
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
    
  }
  .single-image a{
    text-decoration: none;
  }
 

  /* responsive layout */
  /* for xs device */
  @media (min-width: 475px) {
    .container {
      max-width: 475px;
    }
  }
  /* for sm device */
  @media (min-width: 640px) {
    .container {
      max-width: 640px;
    }
    .search-image {
        display: grid;
        gap: 1rem;
        grid-template-columns: auto auto;
        align-items: center;
      }
  }
  /* for md device */
  @media (min-width: 768px) {
    .container {
      max-width: 768px;
    }
    .header-text{
        font-size: 2rem;
    }
    #search-image{
        padding: 8px;
      }
      #button{
        margin-left: -5px;
        padding: 8px;
      }
      .search-image {
        grid-template-columns: auto auto auto;
      }
  }
  /* for lg device */
  @media (min-width: 1024px) {
    .container {
      max-width: 1024px;
    }
    .search-image {
        grid-template-columns: auto auto auto auto;
      }
  }
  /* for xl device */
  @media (min-width: 1280px) {
    .container {
      max-width: 1280px;
    }
    
  }
  /* for 2xl device */
  @media (min-width: 1536px) {
    .container {
      max-width: 1536px;
    }
    
  }